/.ipynb_checkpoints
/__pycache__
/article_data_V2.csv
/data.csv
/data_2.csv
/data_bef_prep.csv
/data_preparation.py
/data_preprocess.py
/devV3.csv
/emperical_result.csv
/emperical_result_coref_0.csv
/emperical_result_coref_12000.csv
/emperical_result_coref_18000.csv
/emperical_result_coref_24000.csv
/emperical_result_coref_30000.csv
/emperical_result_coref_36000.csv
/emperical_result_coref_42000.csv
/emperical_result_coref_48000.csv
/emperical_result_coref_54000.csv
/emperical_result_coref_6000.csv
/emperical_result_coref_60000.csv
/emperical_result_coref_64137.csv
/output_combined.tsv
/testV3.csv
/total_aug_data.csv
/trainPaugV3.csv
/trainV3.csv